/* Please make "This is an ad..." blue, but make sure it is specific enough that you could add other h3's somewhere else in the document. */
header.top + section#rugratsWildThornberrysBestCrossOverAllTime > aside.extraExtraReadAllAboutIt > h3 {
    color: blue;
}

/* Please make "I like turtles." red */

section + section h2{
    color: red;
}

/* Please select "Hello, world!" with the highest level of specificity possible*/

html head + body header + section > h2 {
    color: gray !important;
}

/* Please select "Let's get down to business..." with the highest level of specificity possible */

html head + body section + section p.passTheRemote.turtles{
    color: gray !important;
}
